#dice {
  background: white;
  border-radius: 1rem;
  height: 8em;
  width: 8em;
  margin-bottom: 2em;
  padding: 0.5em;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  grid-gap: 0.5em;
  box-shadow: 1px 0px 30px #4389d0;
}
#dice div {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

#dice.rolled-0 {
  opacity: 0;
}
#dice:not(.rolled-0) {
  opacity: 1;
}

#dice.rolled-1 #dice-5,
#dice.rolled-2 #dice-3,
#dice.rolled-2 #dice-7,
#dice.rolled-3 #dice-3,
#dice.rolled-3 #dice-5,
#dice.rolled-3 #dice-7,
#dice.rolled-4 #dice-1,
#dice.rolled-4 #dice-3,
#dice.rolled-4 #dice-7,
#dice.rolled-4 #dice-9,
#dice.rolled-5 #dice-1,
#dice.rolled-5 #dice-3,
#dice.rolled-5 #dice-5,
#dice.rolled-5 #dice-7,
#dice.rolled-5 #dice-9,
#dice.rolled-6 #dice-1,
#dice.rolled-6 #dice-3,
#dice.rolled-6 #dice-4,
#dice.rolled-6 #dice-6,
#dice.rolled-6 #dice-7,
#dice.rolled-6 #dice-9 {
  background: #173963;
}
